@charset "utf-8";
#accordion1 .card #headingOne1 {
    background-color: #B2A5D3;
}
#accordion1 .card #headingThree1 {
    background-color: #000000;
}
#headingThree1 .mb-0 .collapsed {
    color: #FFFFFF;
}
#accordion1 .card #headingTwo1 {
    background-color: #A7181A;
}
#headingTwo1 .mb-0 .collapsed {
    color: #FCFCFC;
}
#headingOne1 .mb-0 a {
    color: #F8F8F8;
}
